django==1.3
django-pagination
django-registration
django-taggit
django-taggit-templatetags
geopy
PIL
easy-thumbnails
#sorl-thumbnail
#pylibmc
python-memcache
psycopg2
#ligeos
#Python_GDAL
#django-extensions
#MySQL-python
#django-debug-toolbar
django-selectable
django-compress

