<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>{% block title %}Peoria Wifi hotspots{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/google_map.css" type="text/css" />
    {{ google_map.style }}
{% endblock %}
{% block extra_js %}
{{ google_map.scripts }}
{% include "wifi/info_windows.html" %}
{% endblock %}
</head>

{% block body %}
<body onload="{{ google_map.js_module }}.{{ google_map.dom_id }}_load (); info_windows ();" {{ google_maps.onunload }}>
{% endblock %}

<div id="page">
{% block content %}
    <form method="get" action="{% url wifi_search %}">
        {{ search_form.as_p }}
        <input type="Submit" value="Search" />
    </form>
    <div id="{{ google_map.dom_id }}">
    </div>

    <div id="page_header">
        <h1>Peoria, IL Wifi Hotspot Map</h1>
    </div>

{% endblock %}
</div>
</body>
</html>

