{% extends "wifi/base.html" %}

{% block title %}{{ hotspot.name }} Details | {{ block.super }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/detail.css" />
{% endblock %}
{% block body %}
<body onload="{{ google_map.js_module }}.{{ google_map.dom_id }}_load ();" {{ google_maps.onunload }}>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if request.META.HTTP_REFERER %}<span class="back_link"><a href="{{ request.META.HTTP_REFERER }}">&lt;&lt;back</a></span>{% endif %}
 
    {% if user.is_superuser %}<span class="edit"><a href="{{ hotspot.edit_link }}">Edit {{ hotspot.name }}</a></span>{% endif %}

    <div id="breadcrumb">
        <ul>
            <li><a href="{% url home %}">Home</a></li>
            <li><a href="{{ hotspot.in_city.get_absolute_url }}">{{ hotspot.in_city }}</a></li>
            <li>{{ hotspot.name }}</li>
        </ul>
    </div>

    {% load thumbnail %}
    <div id="info">
        <p>{% spaceless %}
        {% thumbnail hotspot.source_image "100x100" crop="center" as im %}
        {% if im %}
            <img id="hotspot_image" src="{{ im.url }}" alt="{{ hotspot.name }} image" class="hotspot_image" />
        {% else %}
            <img id="hotspot_image" src="{{ STATIC_URL }}images/wifi.png" alt="hotspot image" class="hotspot_image" />
        {% endif %}
        {% endspaceless %}</p>

        <p class="address">Address: {{ hotspot.address }}</p>
        {% if hotspot.phone %}<p class="business_phone">Phone: {{ hotspot.phone }}</p>{% endif %}
        <p class="wireless">Wireless: {{ hotspot.restricted|yesno:"Pay,Open,Unknown" }}</p>
        <p class="options">{% if hotspot.google_cid %}<a href="http://maps.google.com/maps/place?cid={{ hotspot.google_cid }}" target="new">On Google Places</a> | {% endif %}<a href="http://maps.google.com/?daddr={{ hotspot.address|urlencode }}" target="new">Directions</a></p>
        <p class="tags">Tags: {% for tag in hotspot.populated_tags %}<a href="{% url wifi_hotspot_tag tag.slug %}">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>
        <p class="description">{{ hotspot.description }}</p>
    </div>

{% endblock %}

{% block google_map %}
    <div id="{{ google_map.dom_id }}" class="long_format">
    </div>
{% endblock %}

{% block page_header_title %}{{ hotspot.name }}{% endblock %}
{% block pagination_title %}{% endblock %}
{% block hotspot_list %}{% endblock %}
